{% for page in pages %}
<section>
    <div class="listing-header">
        <div class="title"><a href="{{ page.permalink }}">{{ page.title }}</a></div>
        <div class="date">{{ page.date}}</div>
    </div>
    <div>
        {{ page.summary | safe }}
    </div>

    {% set category = page.taxonomies.categories | first %}
    {% if  category | length != 0 %}
    <div class="category">Category: <a href="{{ get_taxonomy_url(kind="categories", name=category) }}"> {{ category }}</a></div>
    {% endif %}

    <div class="tags">
        {% for tag in page.taxonomies.tags %}
        <div class="tag"><a href="{{ get_taxonomy_url(kind="tags", name=tag) }}">{{ tag }}</a></div>
        {% endfor %}
    </div>
</section>
{% endfor %}
