{% extends "base.html" %}

{% block opengraph %}

{% if page.extra.og_title %}
{% set title = page.extra.og_title %}
{% else %}
{% set title = page.title %}
{% endif %}
<meta property="og:title" content="{{ title }}" />

<meta property="og:type" content="article" />
<meta property="og:url" content="{{ page.permalink }}" />
<meta property="og:locale" content="en_US">

{% if page.extra.og_image %}
{% set image_url = page.extra_og_image %}
{% else %}
{% set image_url = [page.slug, ".png"] | join(sep="") %}
{% endif %}
{% set image_meta = get_image_metadata(path=image_url) %}
<meta property="og:image" content="{{ get_url(path = image_url) }}" />
<meta property="og:image:secure_url" content="{{ get_url(path = image_url) }}" />
<meta property="og:image:width" content="{{ image_meta.width }}" />
<meta property="og:image:height" content="{{ image_meta.height }}" />
<meta property="og:image:type" content="image/png">

{% if page.extra.og_description %}
  {% set description = page.extra.og_description %}
{% else %}
  {% set description = page.description %}
{% endif %}
<meta property="og:description" content="{{ description | safe }}" />

{% endblock opengraph %}

{% block content %}
<article>
    <div class="listing-header">
        <h1 class="blog-title"><a href="{{ page.permalink }}">{{ page.title }}</a></h1>
        <div class="date">{{ page.date}}</div>
    </div>
    <div class="blog-content">
        {{ page.content | safe }}
    </div>

    {% set category = page.taxonomies.categories | first %}
    {% if  category | length != 0 %}
    <div class="category">Category: <a href="{{ get_taxonomy_url(kind="categories", name=category) }}"> {{ category }}</a></div>
    {% endif %}

    <div class="tags">
        {% for tag in page.taxonomies.tags %}
        <div class="tag"><a href="{{ get_taxonomy_url(kind="tags", name=tag) }}">{{ tag }}</a></div>
        {% endfor %}
    </div>
</article>
{% endblock content %}
