{% extends "base.html" %}

{% block opengraph %}
{% if page.extra.og_title %}
<meta property="og:title" content="{{ page.extra.og_title | escape }}" />
{% else %}
<meta property="og:title" content="{{ page.title | escape }}" />
{% endif %}
<meta property="og:type" content="article" />
<meta property="og:url" content="{{ page.permalink }}" />
{% if page.extra.og_image %}
<meta property="og:image" content="{{ get_url(path = page.extra.og_image) }}" />
{% else %}
<meta property="og:image" content="{{ get_url(path = "static/images/cat.png") }}" />
{% endif %}
{% if page.extra.og_description %}
    <meta property="og:description" content="{{ page.extra.og_description | escape }}" />
{% endif %}
{% endblock opengraph %}

{% block content %}
<article>
    <div class="listing-header">
        <h1 class="blog-title"><a href="{{ page.permalink }}">{{ page.title }}</a></h1>
        <div class="date">{{ page.date}}</div>
    </div>
    <div class="blog-content">
        {{ page.content | safe }}
    </div>

    {% set category = page.taxonomies.categories | first %}
    {% if  category | length != 0 %}
    <div class="category">Category: <a href="{{ get_taxonomy_url(kind="categories", name=category) }}"> {{ category }}</a></div>
    {% endif %}

    <div class="tags">
        {% for tag in page.taxonomies.tags %}
        <div class="tag"><a href="{{ get_taxonomy_url(kind="tags", name=tag) }}">{{ tag }}</a></div>
        {% endfor %}
    </div>
</article>
{% endblock content %}
